{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if user.is_authenticated %}
<title>Story8</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'style.css' %}">

<header>
  <div class="container">
    <div class="banner-text">
      <div class="text-area">
        <h1>Story8</h1>
        <h2>Klik Tombol di bawah Untuk Mencari Buku yang Ingin Kamu Cari</h2>
        <p class="banner-btn"><a href="#search" class="active">Cari Buku</a></p>
        
      </div>
    </div>
  </div>
</header>

<style>
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("/static/img/background.jpeg");
  height: 100vh;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}
</style>


<!-- Search form -->
  <div class="container text-center" id="search">
    <br>
    <br>
    <h4>" Ayo Cari Buku "</h4>
    <p>Cari buku yang ingin kamu baca dengan mengetik <span style="font-weight: 700;">Judul Buku</span> 
      pada kotak <span style="font-style:italic;">Search</span> 
      <br>dan tekan tombol <span style="font-style: italic;">Enter</span> 
      untuk melihat list buku yang tersedia<br>Klik <span style="font-weight: 700;">Link</span> untuk mengetahui informasi buku lebih lanjut</p>
    <br>
      <input id="kunci" class="form-control form-control-md " type="text" placeholder="  Search" aria-label="Search" >
  
  </div>
  <br>
  <br>
  <div >
    <style>
      body{
          background:url("/static/img/okeoce.jpeg");
          padding-bottom: 100vw;
          background-size: cover;
      }
      </style>
    <table id="tabel" class="table table-striped text-center"  >
      <thead><tr><th scope="col">Buku</th><th scope="col">Cover Buku</th><th scope="col">Pencipta</th><th scope="col">Penerbit</th><th scope="col">Link</th></tr></thead>
      <tbody id="isiTabel">
      </tbody>
    </table>
    <br>
    <br>
    <br>
  </div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript">

var scroll = new SmoothScroll('a[href*="#"]');
speed: 300;

$(document).ready(() => {
    $.ajax({
      url:"buku/"+"desain grafis",
      success: function(data){
        console.log(data);
        var items = data.items;
        console.log(items);
        var hasil = $('#hasil');
        var isiTabel = $('#isiTabel');

        for (i= 0; i<items.length;i++){
          var judulBuku = items[i].volumeInfo.title;
          var imageBuku = items[i].volumeInfo.imageLinks.smallThumbnail;
          var link = items[i].volumeInfo.previewLink;
          var author = items[i].volumeInfo.authors;
          var publisher = items[i].volumeInfo.publisher;
          console.log(judulBuku);
          isiTabel.append(
            '<tr><td scope="row" style="font-weight: 900; font-style: italic; align-items:center;">'+ judulBuku+ 
                '</td><td><img id="gambar" src=' + imageBuku + '/></td><td style="width:40%">'+ author +'</td><td>'+ publisher +'</td><td style="width:10%"><a href='+ link +' target="_blank">Link</a></td><td>');
        }
      }
    });
  });

  $('#kunci').keypress(function(e){
    console.log("asik");
    var key = e.which;
    console.log(key);
    if (key == 13){
      var inputan = $('#kunci').val();
      console.log(inputan);
      $.ajax({
        url:"buku/" + inputan,
        success: function(data){
          console.log(data);
          var items = data.items;
          // console.log(items);
          // var hasil = $('#hasil');
          var isiTabel = $('#isiTabel');
          isiTabel.empty();
          for (i= 0; i<items.length;i++){
            var infoBuku = items[i].volumeInfo;
            if(infoBuku.hasOwnProperty("imageLinks")){
              var imageBuku = items[i].volumeInfo.imageLinks.smallThumbnail;
            }
            // console.log(imageBuku);
            var judulBuku = items[i].volumeInfo.title;
            var link = items[i].volumeInfo.previewLink;
            var author = items[i].volumeInfo.authors;
            var publisher = items[i].volumeInfo.publisher;
            console.log(author);
            // console.log(judulBuku);
            isiTabel.append(
              '<tr><td scope="row" style="font-weight: 900; font-style: italic; align-items:center;">'+ judulBuku+ 
                '</td><td ><img id="gambar" src=' + imageBuku + '/></td><td style="width:40%">'+ author +'</td><td>'+ publisher +'</td><td style="width:10%"><a href='+ link +' target="_blank">Link</a></td><td>');
          }
        }
    });
    }
  });
</script>
{% else %}
<title>Story8</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'style.css' %}">

<header>
  <div class="container">
    <div class="banner-text">
      <div class="text-area">
        <h1>Story8</h1>
        <h2>Klik Tombol di bawah Untuk Mencari Buku yang Ingin Kamu Cari</h2>
        <p class="banner-btn"><a href="#search" class="active">Cari Buku</a></p>
        
      </div>
    </div>
  </div>
</header>

<style>
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("/static/img/background.jpeg");
  height: 100vh;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}
</style>


<!-- Search form -->
  <div class="container text-center" id="search">
    <br>
    <br>
    <h4>" Ayo Cari Buku "</h4>
    <p>Cari buku yang ingin kamu baca dengan mengetik <span style="font-weight: 700;">Judul Buku</span> 
      pada kotak <span style="font-style:italic;">Search</span> 
      <br>dan tekan tombol <span style="font-style: italic;">Enter</span> 
      untuk melihat list buku yang tersedia<br>Klik <span style="font-weight: 700;">Link</span> untuk mengetahui informasi buku lebih lanjut</p>

{% endif %}
{% endblock content %}
