<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block content %}

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Story7</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
  <link href="{% static 'css7/style.css' %}" rel="stylesheet" type="text/css">
  <script src = "{% static 'js/story7.js'%}"></script>
  
</head>
<body>
    <body id='body'>
        <style>
            body{
                background:url("/static/img/goks.png");
                padding-bottom: 40vw;
                background-size: cover;
            }
            </style>
  <main class = "container" >

    <body>
      <h1 class="text-center">Hallo! Saya Martua Reynard William Pasaribu</h1>
      <div class="accordion" id="accordion">
        <div class="accordion-item">
          <div class="item-header">
            <h1 class="title">Profil
              <div class="move">
              <div class="btn move-up">↑</div>
              <div class="btn move-down">↓</div>
          </div></h1>
 
          </div>
          <li class="text">Mahasiswa Fasilkom UI</li>
          <li class="text">Penyuka Game</li>
          <li class="text">Penikmat Film</li>
        </div>
  
        <div class="accordion-item">
          <div class="item-header">
            <h1 class="title">Hobby
              <div class="move">
                <div class="btn move-up">↑</div>
                <div class="btn move-down">↓</div>
            </div>
            </h1>
  
          </div>
          <li class="text">Bermain Game</li>
          <li class="text">Nonton Film</li>
          <li class="text">Tidur</li>
        </div>
  
        <div class="accordion-item">
          <div class="item-header">
            <h1 class="title">Makanan Favorit
              <div class="move">
                <div class="btn move-up">↑</div>
                <div class="btn move-down">↓</div>
            </div>
            </h1>

          </div>
          <li class="text">Nasi Goreng</li>
          <li class="text">Mie Ayam</li>
          <li class="text">Makanan Gratis</li>
        </div>
  
        <div class="accordion-item">
          <div class="item-header">
            <h1 class="title">Prestasi
              <div class="move">
                <div class="btn move-up">↑</div>
                <div class="btn move-down">↓</div>
            </div>
            </h1>

          </div>
          <p class="text">
            Masuk UI
          </p>
        </div>
      </div>
</main>
  </body>

{% endblock content %}