<!doctype html>
<html lang="en">
  {% extends "base.html" %}
  {% load static %}
  {% block content %}

  <style>
    body{
        background:url("/static/ggwp.jpeg") no-repeat;
        padding-bottom: 65vw;
        background-size: cover;
        font-family: Arial, Helvetica, sans-serif;
    }
  </style>
  
  <main>
    <div style="margin: 90px">
    <section class="section-1">
        
      <div class = "container text-center">
        <div class="text-left"><a class="btn btn-sm btn-dark" href="tambahkegiatan">Tambah Kegiatan</a></div>
        <h1 class="text-center">
            Daftar Kegiatan
        </h1>
          <div class="row">

            {% for i in data_kegiatan %}
              <div class="card" style="width: 100%;">
                  <div class="card-body">
                    
                    <h5 class="card-title mb-3">{{i.0.nama_kegiatan}}</h5>
                    <p class="card-text">
                        {% for a in i.1 %}
                        <div>{{a.nama_peserta}}</div>
                        {% endfor %}
                        </p>
                        
                        
                </div>
          </div>
          {% endfor %}
          
        </div>
        <br>
        <div class="text-center"><a class="btn btn-sm btn-dark" href="{% url 'templates:tambahpeserta' %}">Tambah Peserta</a></div>
        <br><br><br><br><br><br>
    </div>
    </section>
    </div>
</div>
    
  </main>
  {% endblock %}
