{% extends "base.html" %}
  {% load static %}
  {% block content %}
<form action="" method="post">
  <style>
    body{
        background:url("/static/ggwp.jpeg") no-repeat;
        padding-bottom: 65vw;
        background-size: cover;
        font-family: Arial, Helvetica, sans-serif;
    }
  </style>
  <div style="margin: 100px">
    {% csrf_token %}
{{form}}
<input id="submit" type="submit" class="btn btn-lg btn-block btn-dark" value="Tambah">
<a class="btn btn-lg btn-block btn-dark" href="/kegiatan">Batal</a>
</form>
</div>
{% endblock %}