.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #dadde4;
}

.banner-text h1 {
  font-size: 100px;
  font-weight: 700;
}

.banner-text h2 {
  font-size: 30px;
  font-weight: 400;
}

.banner-btn a {
  border: 1px solid #ffffff;
  border-radius: 50px;
  text-decoration: none;
  padding: 10px 30px;
  display: inline-block;
  margin: 35px 10px;
  color: #ffffff;
}

h1 {
  color: #f7aa29;
  font-weight: 600;
  text-align: center;
}

h5 {
  color: #f7aa29;
  font-weight: 600;
  font-size: 30px;
}

/* span { */
  /* font-weight: 300; */
  /* font-size: 12px; */
/* } */

li {
  font-weight: 500;
}

#tabel{
  max-width: fit-content;
  padding-left: 2em;
  margin-left: 3em;
  margin-right: 3em;
}

#kunci{
  border-radius: 2em;
  border-width: 0.1em;
  font-size: 0.9em;
  box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.425);
}

#search h4{
  margin-top: 1.5em;
  color: #f7aa29;
  font-weight: 700;
  font-style: italic;
  font-size: 2em;
}

@media (max-width: 600px) {
  .banner-text h1 {
    font-size: 50px;
  }

  .banner-text h2 {
    font-size: 15px;
  }

  .banner-btn a {
    margin: 10px 10px;
  }
  #tabel{
  align-items: center;
  font-size: 0.5em;
}
#kunci{
  font-size: 0.6em;
}
#gambar{
  width: 100%;
}
#search h4{
  font-size: 1em;
}
#search p{
  font-size: 0.7em;
}
}
