body{
    background-color: rgb(60, 61, 61);
}
.btn-grad {background-image: linear-gradient(to right, #24C6DC 0%, #7977B4  51%, #24C6DC  100%)}
.btn-grad {
    margin: 10px;
    padding:7px 22px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display:inline-block;
}

.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
