{% extends "base.html" %}
{% load static %}
{% block content %}

      <style>
      body{
          background:url("/static/about1.jpeg") no-repeat;
          padding-bottom: 65vw;
          background-size: cover;
          font-family: Arial, Helvetica, sans-serif;
      }
      </style>
  
    <div style="margin: 100px">  
      <h1 class="about">ABOUT ME</h1>   
      <br>
      <h3 class="about1">Halo Semuanya perkenalkan nama saya Martua Reynard
      William Pasaribu, saya adalah mahasiswa aktif dari
      Universitas Indonesia. Saya membuat website ini dengan
      tujuan untuk dapat saling berbagi informasi ataupun banyak
      hal lain yang bermanfaat yang dapat saya bagikan.</h3>
    </div>

{% endblock %}