{% extends "base.html" %}
{% load static %}
{% block content %}
  
    <style>
        body{
            background:url("/static/bio.jpeg") no-repeat;
            padding-bottom: 65vw;
            background-size: cover;
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
  
    
    <div style="margin: 100px">  
      <h1 class="bio">BIODATA</h1>
      <br>
      <h3 class="bio1">Nama: Martua Reynard William Pasaribu</h3>
      <h3 class="bio1">NPM: 1906400210</h3>
      <h3 class="bio1">Angkatan: 2019</h3>
      <h3 class="bio1">Pekerjaan: Mahasiswa</h3>
      <h3 class="bio1">Tempat Kuliah: Universitas Indonesia</h3>
    </div>
    </div>

{% endblock %}