<html lang="en"><head>
  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Detail Mata Kuliah</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|PT+Serif:400,700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/home/style2.css">
    <link rel="stylesheet" href="../../static/home/mobile-style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    
</head>

<body>
    <div class="main-content">
        


<link rel="stylesheet" href="/static/home/Story5.css">

<style>
    body{
        background:url("/static/salju.jpeg");
        padding-bottom: 65vw;
        background-size: cover;
        font-family: Arial, Helvetica, sans-serif;
    }
    </style>

    <div class="container">
        <h1 class="text-center">
             Detail Mata Kuliah
        </h1>
        <p>
            
        </p>
    <br>
    <table class="table table-striped table-dark">
        {% for Matkul in SchedForm %}
            <tbody><tr>
                <td id="detail_matkul_keterangan">Nama Matkul</td>
                <td id="detail_matkul_penjelasan">{{Matkul.Matkul}}</td>
            </tr>
            <tr>
                <td id="detail_matkul_keterangan">Nama Dosen</td>
                <td id="detail_matkul_penjelasan">{{Matkul.Dosen}}</td>
            </tr>
            <tr>
                <td id="detail_matkul_keterangan">Jumlah SKS</td>
                <td id="detail_matkul_penjelasan">{{Matkul.SKS}}</td>
            </tr>
            <tr>
                <td id="detail_matkul_keterangan">Deskripsi</td>
                <td id="detail_matkul_penjelasan">{{Matkul.Deskripsi}}</td>
            </tr>
            <tr>
                <td id="detail_matkul_keterangan">Semester</td>
                <td id="detail_matkul_penjelasan">{{Matkul.Semester}}</td>
            </tr>
            <tr>
                <td id="detail_matkul_keterangan">Nomor Ruangan</td>
                <td id="detail_matkul_penjelasan">{{Matkul.Ruang}}</td>
            </tr>
        </tbody>
        {% endfor %}
        </table>
      <div class="text-center">
        <a class="btn btn-sm btn-dark" href="/Schedule">Kembali</a>
      </div>
    </div>


    </div>

    
    



    
    




</body></html>