{% extends "base.html" %}
{% load static %}
{% block content %}

    <style>
        body{
            background:url("/static/home1.jpeg");
            padding-bottom: 65vw;
            background-size: cover;
            font-family: Arial, Helvetica, sans-serif;
        }
        </style>
    
    <div>
        <img class="rey" src="/static/REY.png" alt="centered image" />
        <h1 class="text1">Welcome To</h1>
        <h1 class="text2">My Website!</h1>
    </div>
    <style>
        .rey {
            margin: 150px auto 100px;
            display: block;
        }
        </style>


{% endblock %}
