{% extends "base.html" %}
{% load static %}
{% block content %}
<body>
    <style>
        body{
            background:url("/static/ggwp.jpeg");
            padding-bottom: 65vw;
            background-size: cover;
            font-family: Arial, Helvetica, sans-serif;
        }
        </style>
<div style="margin: 55px"> 
    <div id = "Salam">
            <h1>My Schedule</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <form action='' method="POST">
                        {% csrf_token %}
                        {{ form }}
                    <div class="centre-items">
                        <input type="submit" class="btn btn-primary" value="Add Schedule">
                    </div>
                    </form>
                </div>
                <div class="col" id="tulisan">
                    <table class="table">
                        <thead>
                            <tr>
                            <th scope="col">Matkul</th>
                            <th scope="col">Dosen</th>
                            <th scope="col">SKS</th>
                            <th scope="col">Deskripsi</th>
                            <th scope="col">Semester</th>
                            <th scope="col">Ruang</th>
                            <th scope="col">Delete</th>
                            <!-- <th scope="col">Day</th>
                            <th scope="col">Date</th>
                            <th scope="col">Time</th>
                            <th scope="col">Name</th>
                            <th scope="col">Category</th>
                            <th scope="col">Location</th>
                            <th scope="col">Delete</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            {% for jadwal in sched %}
                                <tr>
                                <th scope="row"><a href="{% url 'homepage:Detail' jadwal.id %}">{{jadwal.Matkul}}</a></th>
                                <td>{{jadwal.Dosen}}</td>
                                <td>{{jadwal.SKS}}</td>
                                <td>{{jadwal.Deskripsi}}</td>
                                <td>{{jadwal.Semester}}</td>
                                <td>{{jadwal.Ruang}}</td>
                                <!-- <th scope="row">{{jadwal.Day}}</th>
                                <td>{{jadwal.Date}}</td>
                                <td>{{jadwal.Time}}</td>
                                <td>{{jadwal.Name}}</td>
                                <td>{{jadwal.Category}}</td>
                                <td>{{jadwal.Location}}</td> -->
                                <td><a href="{% url 'homepage:Delete' jadwal.pk %}"><button class="btn btn-icon btn-danger"><i class="fa fa-trash"></i></button></a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
         </div>
    </body>

{% endblock %}