{% extends "base.html" %}
{% load static %}
{% block content %}

    <style>
      body{
          background:url("/static/gg.jpeg") no-repeat;
          padding-bottom: 65vw;
          background-size: cover;
          font-family: Arial, Helvetica, sans-serif;
      }
    </style>

    <div style="margin: 100px">
    <h1 class="socmed">SOCIAL MEDIA</h1>
    <br>
    <a class="socmed1" href="https://www.instagram.com/reeyy17/"><img src="/static/ig.jpeg" width="50" height="50"></a>
    <a class="socmed1" href="https://www.facebook.com/athalla.layadi"><img src="/static/fb.png" width="50" height="50"></a>

    {% endblock %}