{% extends "base.html" %}
{% load static %}
{% block content %}

    <head>
    <title>My Profile</title>
    <style>
        table, th, td {
              border: 2px solid black;
        }
    </style>
</head>
<body>
    <div style="margin: 50px">  
    <h1 allign="justify"> My Profile </h1>

    <a href="https://ibb.co/kMcVxzG"><img class= "pas-foto" src="https://i.ibb.co/nRkqb4w/mk.jpg" alt="mk" border="0"></a>
    <p> <b> Nama </b>: Martua Reynard William Pasaribu</p>
    <p> <b> NPM </b>: 1906400210</p>
    <p> <b> Angkatan </b>: 2019</p>
    <p> <b> Tempat Kuliah </b>: Universitas Indonesia</p>
    <p> <b> Hobi </b>: Nonton Film, Bermain games, Olahraga</p>
    <p> <b> Deskripsi tentang saya </b>: Saya adalah orang yang sangat suka melakukan hal yang baru yang belum pernah saya lakukan sebelumnya, saya juga sangat suka berolahraga dan bermain game serta saya berharap dapat mendapatkan banyak ilmu di fasilkom.</p>
    <p> <b> Media Sosial </b>:</p>
    <li>Line : martua17 </li>
    <li>Instagram : reeyy17</li>
    <p> <b> Riwayat Pendidikan </b></p>
     <table>
        <tbody><tr>
            <th> <b> Tahun </b> </th>
            <th> <b> Nama Sekolah </b> </th>
        </tr>
        <tr>
            <td> 2019-Sekarang </td>
            <td> Universitas Indonesia </td>
        </tr>
        <tr>
            <td> 2016-2019 </td>
            <td> SMA Budhaya II Santo Agustinus </td>
        </tr>
        <tr>
            <td> 2013-2016 </td>
            <td> SMP Xaverius Lubuklinggau </td>
        </tr>
        <tr>
            <td> 2007-2013 </td>
            <td> SD Xaverius Lubuklinggau </td>
        </tr>
    </tbody></table>


</body>

{% endblock %}