{% extends "base.html" %}
{% load static %}
{% block content %}

    <style>
      body{
          background:url("/static/education.jpeg") no-repeat;
          padding-bottom: 40vw;
          background-size: cover;
          font-family: Arial, Helvetica, sans-serif;
      }
    </style>
  
    <div style="margin: 100px">
      <h1 class="studies">STUDIES</h1>    
      <br>
      <h3 class="studies1">Universitas Indonesia</h3>
      <h3 class="studies1">SMA Budhaya II Santo Agustinus</h3>
      <h3 class="studies1">SMP Xaverius Lubuklinggau</h3>
      <h3 class="studies1">SD Xaverius Lubuklinggau</h3>
    </div>

    {% endblock %}