.bio{
    font-weight: 700;
    font-size: 4vw;
    text-align: justify;
}

.bio1{
    font-weight: 700;
    font-size: 2vw;
    text-align: justify;
}
.studies{
    font-weight: 700;
    font-size: 4vw;
    text-align: justify;
}

.studies1{
    font-weight: 700;
    font-size: 2vw;
    text-align: justify;
}
.about{
    font-weight: 700;
    font-size: 4vw;
    text-align: justify;
}

.about1{
    font-weight: 500;
    font-size: 2vw;
    text-align: justify;
}

.socmed{
    font-weight: 700;
    font-size: 4vw;
    text-align: justify;
}

.socmed1{
    font-size: 2vw;
    text-align: justify;
}

.text1{
    text-align: center;
    position: absolute;
    color: black;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 20px;
    position: relative;
    animation: text 3s 1;
}

.text2{
    text-align: center;
    position: relative;    
    font-size: 30px;
    color: black;
}

@keyframes text{
    0%{
        color: black;
        margin-bottom: -40px;
    }
    30%{
        letter-spacing: 25px;
        margin-bottom: -40px;
    }
    85%{
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}

#tulisan{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
  }
  
  #Salam{
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 70px;
    margin-top: 25px;
    text-align : center; 
  }
  
  .rounded-circle{
    margin-top: 15%;
    margin-left: 15%;
    margin-right: 15%;
  }
  
  #navbar{
    text-align : center;
  }
  img{
    border-radius: 50%;
  }
  
  h2{
    text-align : center;
    font-family: 'Roboto Condensed';
    font-style: normal ;
    font-weight: bold;
  }
  
  .nav-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    color: #000;
  
  }
  
  label{
    font-weight: bold;
  }
  
  #Profile{
    margin-top: 10%;
  }
  
  #Deskripsi{
    margin-top: 10%; 
  }
  
  .logo-portofolio{
    padding-left: 100px;
  }
  
  .logo-kontak{
    padding-left: 50px;
  }
  
  .tengah{
    text-align: center;
  }
  